body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa; /* สีฟ้าอ่อน */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #b2ebf2; /* ขอบสีฟ้าอ่อน */
}

h1 {
  text-align: center;
  color: #3967ff; /* สีฟ้าครามเข้ม */
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #2495ff; /* สีฟ้าครามเข้ม */
}

input[type="text"], input[type="number"], input[type="email"], input[type="url"], input[type="datetime-local"], textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #55adff; /* ขอบสีฟ้าอ่อน */
  border-radius: 4px;
  background-color: #ffffff; /* พื้นหลังสีฟ้าอ่อน */
  color: #818181; /* สีฟ้าครามเข้ม */
}

textarea {
  height: 100px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50; /* ปุ่มสีเขียว */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #388e3c; /* ปุ่มสีเขียวเข้มเมื่อ Hover */
}

#responseMessage {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  color: #00796b; /* สีฟ้าครามเข้ม */
}
